@tailwind base;

h1 {
  @apply text-2xl font-bold;
}
h2 {
  @apply text-xl font-bold;
}
h3 {
  @apply text-lg  font-semibold;
}
h4 {
  @apply text-base font-semibold;
}
h5 {
  @apply text-sm font-semibold;
}
h6 {
  @apply text-xs font-semibold;
}
p {
  @apply text-base;
}

a {
  @apply text-blue-600 underline;
}


@tailwind components;

@tailwind utilities;



.App {
  font-family: 'Chivo Mono', monospace;
}


.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* animate from left to right  */

